<div>
	<div class="row">
		<div class="col-md-4">
			<form ng-submit="getHistory()">
				<div class="form-group">
					<label>Symbol</label>
					<input type="text" required ng-model="symbol" class="form-control" />
				</div>
				<div class="form-group">
					<label>Interval</label>
					<select ng-model="interval" class="form-control" ng-options="i as i for i in ['daily','monthly','yearly']">
						<option value="">-- Select Interval --<option>
					</select>
				</div>
				<div class="input-group">
					<label>Start Date</label>
					<input type="text" class="form-control" required uib-datepicker-popup="MM/dd/yyyy" ng-model="startDate" is-open="startOpen" 
							max-date="today" show-weeks="false" show-button-bar="false" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open('sd',$event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
				<div class="input-group">
					<label>End Date</label>
					<input type="text" class="form-control" required uib-datepicker-popup="MM/dd/yyyy" ng-model="endDate" is-open="endOpen" 
							max-date="today" show-weeks="false" show-button-bar="false" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open('ed', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
				<br />
				<button type="submit" class="btn btn-primary">Get History</button>
			</form>
		</div>
		<div class="col-md-8">
			{{history}}
		</div>
	</div>
</div>